<h1>Friends List</h1>
<% if @friends%>
  <table class="table table-striped table-hover table-bordered" id="friends">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= link_to friend.first_name + " " + friend.last_name, friend, class:"btn btn-link" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="d-flex gap-2" >
  <%= link_to "Add new friend", new_friend_path, class:"btn btn-success btn-sm" %>
  <%= button_to "Send emails", send_birthday_emails_path, method: :post, class:"btn btn-outline-success btn-sm"%>
</div>