<h1> <%= @user.name || @user.email %>! </h1>
<p><%= @friend.name%> is turning <%= distance_of_time_in_words(Time.now, @friend.birthday, false, only: :years) %> TODAY!  </p>
<div> GO SAY Happy birthday NOW!</div>