<h1> <%= @user.name || @user.email %>! </h1>
<p><%= @child.name%> is turning <%= distance_of_time_in_words(Time.now, @child.date_of_birth, false, only: :years) %> TODAY!  </p>
<div> GO SAY Happy birthday NOW!</div>